
* {
    box-sizing: border-box;
    background-color: #0b7dda;
    margin-top: 50px;
    font-family: "Berlin Sans FB";
    margin-left: 30px;
    color: darkgrey;
}

#flagCountry {
    height: 40px;
    length: 40px;
}

#countrydisplay {
    font-size: 14px;
}
#CountryDisplayname {
    margin-top: 80px;
    color: goldenrod;
}

#countryGEO, #countryINF, #langString, #currenciesString, #errorDisplay {
    display: inline-block;
    margin-left: 35px;
    margin-top: 0px;
    color: antiquewhite;
    border-width: 2px;
    width: 500px;

    }

.fa-search {
    background-color: red;
}
/* Style the search field */

.input {
    width: 180px;
    height: 50px;
}

.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 150%;
    background: deepskyblue;
}
/* Style the submit button */
.example button {
    float: left;
    width: 50%;
    padding: 10px;
    background: yellow;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
}