
* {
    box-sizing: border-box;
    background-color: #11535A;
    margin-top: 50px;
    font-family: "Berlin Sans FB";
    margin-left: 30px;
    color: darkgray;

}
#CountryDisplayname {
    color: darkgoldenrod;
}
#countryDisplay {
    margin-top: 12px;
}
#flagCountry {
    height: 40px;
    length: 40px;
}

#countryINF, #countryGEO, #currenciesString, #langString {
    font-size: 14px;

    }
.fa-search {
    background-color: red;
}
/* Style the search field */

.input {
    width: 180px;
}

.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 150%;
    background: deepskyblue;
}
/* Style the submit button */
.example button {
    float: left;
    width: 50%;
    padding: 10px;
    background: yellow;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
}